{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/receipts.css" %}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      <nav>
        <ul>

          {% if user.is_authenticated %}

          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
          <li><a href="{% url 'category_list' %}">Category List</a></li>
          <li><a href="{% url 'account_list' %}">Account List</a></li>
          <li><a href="{% url 'create_category' %}">Create Category</a></li>
          <li><a href="{% url 'create_account' %}">Create Account</a></li>


          {% else %}

          <li><a href= "{% url 'signup' %}">Sign up</a></li>
          <li><a href= "{% url 'login' %}">Login</a></li>

          {% endif %}

        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
    </footer>
  </body>
</html>
