{% extends 'base.html' %}

{% block title %}

{% endblock title %}


  {% block content %}
  <main>

      <h1>My Receipts</h1>

      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for receipt_list in receipt_list %}

              <tr>
                <td>{{ receipt_list.vendor }}</td>
                <td>{{ receipt_list.total }}</td>
                <td>{{ receipt_list.tax }}</td>
                <td>{{ receipt_list.date|date:"n/d/y"}}</td>
                <td>{{ receipt_list.category }}</td>
                <td>{{ receipt_list.account }}</td>
              </tr>

          {% endfor %}
        </tbody>
      </table>

  </main>
{% endblock content %}
